body {
    font-family: Arial, sans-serif;
}
.line {
    display : inline-block;
    width: auto;
}

.field-mails {
    padding: 0 0.5em 1em !important;
    margin: 1em !important;
    border: 1px solid darkgrey;
    border-radius: 0.5em;
}

.leg-mails {
    width: inherit !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    margin-left: 0.5em !important;
    border : none !important;
}

.field-modal{
    padding: 0 0.5em 1em !important;
    /*margin: 1em !important;*/
}

.leg-modal{
    width: inherit !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    margin-left: 0.5em !important;
    border : none !important;
}

.lienLegend {
    color : #656565;
    font-size:  0.7em;
}
.containerCollapse{
    border : 1px solid;
}

.advanced{
    color : #656565;
}

#mails_container{
    height: 700px;
    overflow:auto;
}

.modal_ivoa{
    min-width: 70%;
}

.modal{
    overflow-y: scroll !important;
}

.closeThread {
    color : red !important;
}

.contenuMails {
    overflow:auto;
}

.greaterthan {
    color : blue;
}

.greatergreaterthan {
    color : orangered;
}