body {
    font-family: Arial, sans-serif;
}
.line {
    display : inline-block;
    width: 50%
}
fieldset {
    padding: 0 0.5em 1em !important;
    margin: 1em !important;
    border: 1px solid darkgrey;
    border-radius: 0.5em;
}

legend {
    width: inherit !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    margin-left: 0.5em !important;
    border : none !important;
}

.lienLegend {
    color : black
}
.containerCollapse{
    border : 1px solid;
}